// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background-color: #ffff;
    padding:10%;
    color: #000;
    border-radius: 30px;          
}

.AddTodo-text {
    padding: 10px;
    border-radius: 20px;
    border:none;
    margin-left: 30%;
    margin-top: 3%;
}

.AddTodo-date {
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.AddTodo-button {
    padding: 10px;
    border-radius: 20px;
}

.head {
    margin-left: 33%;

}
